.form-group {
    margin-bottom: 0.75rem;
}
.form-control {
    background: #fff !important;
}
.form-label-required::after {
    content: "•";
    color: var(--bs-danger);
    margin-left: 0.25rem;
}
.form-group .invalid-feedback {
    font-size: small;
    font-style: italic;
    text-align: right;
}